/* add font from google  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&family=Poppins&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* header style  */

header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;

}
nav{
    display: flex;
    justify-content: space-between;
    justify-items: center;
}
.sec-title{
    font-size: 3rem;
    color: #131313;
    font-weight: 700S;
}
nav > ul{
    display: flex;
    
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 30px;
}
nav li a{
    text-decoration: none;
    color: #424242;
    font-weight: 500;
}
.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    border: none;
    color: white;
    padding: 20px 25px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

                    /* banner style  */

.banner-container{
    max-width: 1400px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.description{
    color: #727272;
}
.banner-img img{
    width: 100%;
    margin-top: 30px;
}

                        /* facts styles */
.facts-card-container{
    display: flex;
   justify-content: space-around;
}
.facts .card{
    border-radius: 8px;
   
    box-shadow: 1px 2px 2px #FF900E;
    text-align: center;
}
.card-title{
    font-size: 2.8rem;
    color: #424242;

}

.card-des{
    font-weight: 600;
    color: #727272;
}

/* features styles */

.features{
    display: flex;
    margin-top: 130px;
    gap: 100px;
}


.feature-content .cart{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
    margin-bottom: 30px;
}
.feature-content{
    padding: 50px;
}
.feature .section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.ten-year{
    border-radius: 8px;
    background-color: #FF900E;
    color: white;
    width: 350px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 100px;
}
.ten-year h2{
    font-size: 65px;
    margin:  0;
}
.ten-year p{
    font-size: 25px;

}

.feature-img img{
    /* height: 90%; */
    margin-left: 50px;
}


/* main styles */

main{
    max-width: 1440px;
    margin: 70px auto;
}
.teams-container{
    display: flex;
    align-items: center;
   
}
.teams-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.teams-content{
    padding-right: 70px;
    padding-left: 70px;
}
#quick{
    color: #727272;
    font-weight: 500;
}
#of-our{
    color: #131313;
    font-weight: 700;
    font-size: 45px;
}
#features{
    color: #FF900E;
    font-weight: 700;
    font-size: 45px;
}

.card{
    padding: 40px 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

                    /* Sponspors styles */

    .sponspors{
        text-align: center;
        margin-top: 50px;
    }

.sponspors-img{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    gap: 20px;
    align-items: center;
}

.sponspors-img img{
    width: 150px;
}

footer{
    width: 1440px;
    height: 100px;
    border-radius: 8px;
    background: #FFF4E7;

}
.footer-title{
    text-align: center;
    color: #424242;
    
}


/* mobile device */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav, .teams-container,
     .facts-card-container,
      .sponspors-img,
      .features{
        flex-direction: column;
    }
    .teams-img{
        grid-template-columns: 1fr;
        padding: 0px;
    }
    .facts-card-container{
        padding: 20px;
        gap: 20px;
    }
    .sponspors-img img{
        padding: 10px;
        margin-bottom: 10px;
       
    }
   .feature-img img{
    width: 90%;
    margin-left: 0;
   }
   .ten-year{
    position: static;
    max-width: 300px;
   }

/* tablet or medium devices */
@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 50px;
    }
    nav, .teams-container, .sponspors-img, {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    
    }
}